body,hmtl{
    overflow-x: hidden;
}
main{
    position: relative;
}
.conteudo{
    padding: 30px;
}

.sidebar{
    padding: 0;
}
/* Configuração da foto profile */
#foto-perfil-background{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-camera{
    font-size: 2em;
    position: absolute;
    z-index: 1;
}
.foto-perfil{
    z-index: 10;
    transition: opacity .4s;
}
.foto-perfil:hover{
    cursor: pointer;
    opacity: .7;
}
.mensagens-nav{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 5px;
}
@media(max-width:380px){
    .list-group-item,.postagens, .comentarios{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
}

/* Mensagens */ 
.pm{
    border-bottom: 1px solid rgb(130, 171, 179);
    border-radius: 10px;

}
.pm-informacoes-user{
    max-width: 140px;
}

/* Tabela */
table{
    font-size: .7em;
}
table td{
    max-width:110px;
}
@media(max-width:480px){
    .postagens, .comentarios{
        font-size: .7em;
    }
    table td{
        max-width:80px;
    }
}
