*{
    box-sizing: border-box;

}
body{
    background: #24242d;
    position: relative;
}
ul{
    list-style: none;
}
/* tamanho carosel */
.carousel{
    border-top: 4px solid #363b4a !important;

}
.carousel-item img{
    height: 100%;
    max-height: 500px;
    border-bottom: 2px solid #363b4a !important;
    cursor: pointer;
}
/* item de cada jogo */
.item-jogo,.item-lateral{
    position: relative;
    margin-top: 5px;
    border: 2px solid #363b4a !important;
    border-radius: 10px;
    box-shadow: 1px 1px 1px gray;
}
.item-jogo .border-esquerda,.item-jogo .border-esquerda img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.item-jogo .border-direita,.item-jogo .border-direita img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
@media(max-width: 574px){
    .item-jogo .border-esquerda,.item-jogo .border-esquerda img {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .item-jogo .border-direita,.item-jogo .border-direita img {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}
.item-jogo .links{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(16, 15, 15,.3);
    transition: opacity .5s;
    opacity: 0;
    border-radius: 10px;
}
.item-jogo:hover .links{
    opacity: 1;
} 
/* item lateral */
.item-lateral{
    position: relative;
}
.item-lateral:hover{
    cursor: pointer;
    padding: 3px !important;
}
.item-lateral .produto_informacoes{
    position:absolute;
    opacity:0;
    transition:  1s;
}
.item-lateral:hover .produto_informacoes{
    opacity:1;
}
.item-lateral:hover img{
    opacity:.4;
}
/* icones */
.fa-home, .fa-facebook,.fa-comments{
    font-size: 3em;
}

/* reescrevendo o offset */
.offset-1{
    margin-left: 3.33333%;
}
principal{
    margin-left: 1%;
}
/* footer */

footer .jumbotron{
    background: #151619;
}
footer .last{
    background: #1c1d23;
    
}
footer .jumbotron h2{
    color: white;
}
footer .jumbotron .footer-area-links1 {
    border-right: 2px solid white;
}
@media(max-width:764px){
    footer .jumbotron .footer-area-links1 {
        border-right:none !important;
    }
}

/* LOGIN */
.login, .registrar{
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background: rgba(128, 128, 128,.5);
    z-index: 1000000;
}
.esconder-login{
    display: none !important;
}
.login-container{
    max-width: 930px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background: linear-gradient(#20222a,#333642) ;
    position: fixed;
    top: 50px;
    border-radius: 10px;
    top: 50px;

}
.registrar .login-container{
    top: 13px;

}
.login-header{
    padding: 0px 0px 0px 20px ;
    background: linear-gradient(#474d63, #4f5670, #606988);
    border-top-right-radius:10px;
    border-top-left-radius: 10px;
}
#btn-fechar, #btn-fechar-registrar{
    border-bottom-right-radius: 0px !important;
}
#btn-fechar i,#btn-fechar-registrar i,.fa-crow{
    font-size: 1.3em;
}
.login-body{
    margin: 0;
}
.login-body-item1,.login-body-item2{
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-bottom: 150px;
    padding-top: 30px;

}
.registrar  .login-body-item1{
    padding-bottom: 50px;

}
.login-body-item1 {
    border-right: 1px solid black;
    box-shadow: .5px 0px 0px gray;
}
.fa-facebook-square{
    font-size: 2em;
}
.fa-user-ninja{
    font-size:1.4em;
}
.logar-facebook{
    font-weight: 900;
    font-size: 1.45em;

}
.mostrar-face{
    display:none !important ;

}
@media(max-width:768px){
    .mudar-login{
        display: none !important;
    }
    .mostrar-face{
        display: inline-block !important;
    }
}

/* Registrar */